:root {
    --main: #D7CAC5;
    --light-main: #F0E9E9;
    --text-main: #000000;
    --btn-primary: #BFA5A5;
    --btn-primary-hover: #9f8585;
    --table: #BCB5B5;
    --confirm: #B4B596;
    --confirm-hover: #c5c6a5;
}

.bg-confirm.btn-primary {
    background: var(--confirm);
}

.bg-confirm.btn-primary:hover {
    background: var(--confirm-hover);
}

.bg-creamy {
    background: var(--main);
    color: var(--text-main);
}

.border-color-primary {
    border-color: #ded2d2 !important;
}

.bg-light-creamy {
    background: var(--light-main);
}

.nav-link, .nav-link:visited {
    color: var(--text-main);
}

.nav-link:hover {
    color: var(--text-main);
}

.logout.nav-link {
    color: #5C5656;
}

.logout.nav-link:hover {
    color: black;
}

.nav-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background: var(--btn-primary);
    border: none;
    color: var(--text-main);
}

.btn-primary:hover, .btn-primary:focus {
    background: var(--btn-primary-hover);
    border: none;
    color: var(--text-main);
    box-shadow: none;
}

.table>:not(:first-child) {
    border-top: 2px solid var(--table);
}

.register-form, .login-form {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.error-alert {
    color: #a42727;
    background: #eabebe;
}

.btn-secondary {
    background-color: rgb(0,0,0,0);
    border-color: var(--confirm);
    border-width: 2px;
    color: var(--text-main);
}

.btn-secondary:hover, .btn-secondary:focus {
    background: var(--confirm-hover);
    border-color: var(--confirm);
    color: var(--text-main);
    box-shadow: none;
}







