{% extends 'base.html' %}
{%  block content %}
    <table class="table table-hover mt-4">
      <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">App name</th>
          <th scope="col">Password</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.app_name }}</td>
            <td>{{ item.password }}</td>
            <td>
              <button class="btn btn-primary btn-sm">Show password</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{%  endblock %}