<script>
    function get_password(service_id) {
        let password = ''
        fetch(`/services/${service_id}/show-password`)
             .then(response => response.json())
             .then(result => {
                 password = result.password
                 set_password(service_id, password)
             })
             .catch(error => {
              console.log('Error:', error);
             })
        return password;
    }

    function set_password(service_id, password_value) {
        const password = document.querySelector(`#password-${service_id}`);
         password.value = password_value
        // password.size = password.value.length - 10
    }

    function toggle_password(service_id) {
        const togglePassword = document.querySelector(`#togglePassword-${service_id}`);
        const password = document.querySelector(`#password-${service_id}`);
        let type = ''
        if (password.getAttribute("type") === "password") {
            type = "text";
            password.disabled = false;
        } else {
            type = "password";
            password.disabled = true;
        }
        password.setAttribute("type", type);
        togglePassword.classList.toggle("bi-eye");
    }
</script>
