{% extends 'base.html' %}
{% block content %}
{% include 'includes/password_toggle.html' %}
<div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} py-1 my-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="m-4 content-container">
    <div class="row">
        <div class="col-8">
            <h2 class="h4 mb-3">
                Saved passwords
            </h2>
            <a class='btn btn-primary btn-sm mb-4 bg-confirm' href="{{ url_for('add_service') }}" role="button">Add new
                service password</a>
            <table class="table table-hover border-color-primary table-fit bg-main">
                <thead class="">
                <tr>
                    <th class="fit" scope="col">Service name</th>
                    <th class="fit" scope="col">Password</th>
                    <th scope="col"></th>
                    <th class="fit" scope="col">Status</th>
                    <th class="fit" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for service in admin_services %}
                {% include 'includes/service_modals.html' %}
                <tr>
                    <td class="fit">{{ service.name }}</td>
                    <td class="">
                        <div class="password-container">
                            <input id="password-{{ service.id }}" aria-label="password" class="password-input"
                                   readonly type="password">
                        </div>
                        <script>
                            get_password('{{ service.id }}');
                        </script>
                    </td>
                    <td>
                        <button class="show-password" type="button" onclick="toggle_password('{{ service.id }}')">
                            <i id="togglePassword-{{ service.id }}" class="bi bi-eye-slash"></i>
                        </button>
                    </td>
<!--                    <td>-->
<!--                        {{ password_form.password(class="password-input") }}-->
<!--                        {{ password_form.password }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ password_form.show_password(class="btn btn-primary btn-sm") }}-->
<!--                    </td>-->
                    <td class="fit">{{ service.status }}</td>
                    <td>
                        {{ myf() }}
                        <a class='btn btn-primary btn-sm'
                           href="{{ url_for('permissions_page', service_id=service.id) }}"
                           role="button">
                            Manage access
                        </a>
                    </td>
                    <td class="fit">
                        <a class='btn btn-primary btn-sm' href="{{ url_for('update_service', service_id=service.id) }}"
                           role="button">
                            Edit
                        </a>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#deleteModal-{{ service.id }}">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <h2 class="h4 mb-3">
                Provided passwords
            </h2>
            <table class="table table-hover border-color-primary table-fit bg-main">
                <thead>
                <tr>
                    <th scope="col">Service name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Owner</th>
                </tr>
                </thead>
                <tbody>
                {% for service in provided_services %}
                {% include 'includes/service_modals.html' %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td class="">
                        <div class="password-container">
                            <input id="password-{{ service.id }}" aria-label="password" class="password-input"
                                   readonly type="password">
                        </div>
                        <script>
                            get_password('{{ service.id }}');
                        </script>
                    </td>
                    <td>
                        <button class="show-password" type="button" onclick="toggle_password('{{ service.id }}')">
                            <i id="togglePassword-{{ service.id }}" class="bi bi-eye-slash"></i>
                        </button>
                    </td>
                    <td>{{ service.admin.username }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%  endblock %}