{% extends 'base.html' %}
{%  block content %}
<div class="text-center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} py-1 my-2" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
    <table class="table table-hover mt-4">
      <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Service</th>
          <th scope="col">Password</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
          <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.password_hash }}</td>
            <td>
              <button class="btn btn-primary btn-sm">Show password</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{%  endblock %}