{% extends 'base.html' %}
{%  block content %}

    <div class="container">
        <form method="post" class="login-form" novalidate>
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 text-center fw-normal">
                Login
            </h1>
            <div class="text-center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} py-1 my-2" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {% if form.is_submitted() %}
                    {% if form.username.errors %}
                        {{ form.username(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else  %}
                        {{ form.username(class='form-control is-valid') }}
                    {% endif %}
                {% else  %}
                    {{ form.username(class='form-control') }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {% if form.is_submitted() %}
                    {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else  %}
                        {{ form.password(class='form-control') }}
                    {% endif %}
                {% else  %}
                    {{ form.password(class='form-control') }}
                {% endif %}
            </div>
            <div class="my-4 d-flex justify-content-center">
                {{ form.submit(class='btn btn-primary bg-confirm') }}
            </div>
            <div class="text-center border-top pt-3 border-color-primary">
                <h6 class="h6 mb-3 fw-normal">
                    You don't have an account yet? Register now!
                </h6>
                <a class='btn btn-secondary btn-sm  bg-confirm' href="{{ url_for('register_page') }}" role="button">Register</a>
            </div>
        </form>
    </div>
{%  endblock %}